@model IEnumerable<LudoKing.Models.adminincome>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_AdminLayout";
}


<div class="container-fluid my-5">
    <h2 class="text-center mb-4">Admin Income</h2>
    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive">
                <table class="table table-striped text-center">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Income Mode</th>
                            <th>Income Amount</th>
                            <th>Payment Frequency</th>
                            <th>Date & Time</th>
                            <th>Txn ID</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int sr = 1;
                        }
                        @foreach (var data in Model)
                        {
                            <tr>
                                <td>@sr</td>
                                <td>@data.name</td>
                                <td>@data.email</td>
                                <td>@data.incomemode</td>
                                <td>@data.incomeamount</td>
                                <td>@data.paymentfrequency</td>
                                <td>@data.datetime</td>
                                <td>@data.txnid</td>
                                <td>
                                    <a class="btn btn-light text-danger rounded-circle" asp-action="DeleteAdminIncome" asp-route-id="@data.id"><span class="menu-icon fas fa-trash"></span></a>
                                    <a class="btn btn-light text-warning rounded-circle" asp-action="EditAdminIncome" asp-route-id="@data.id"><span class="menu-icon fas fa-edit"></span></a>
                                </td>
                            </tr>
                            sr++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
