@model IEnumerable<LudoKing.Models.appsetting>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_AdminLayout";
    ViewBag.title = "Dashboard | App Setting";
}



<div class="container-fluid my-5">
    <h2 class="text-center mb-4">App Settings</h2>
    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive">
                <table class="table table-striped text-center">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Web App Status</th>
                            <th>Under Maintenence Message</th>
                            <th>Terms</th>
                            <th>Game Rules</th>
                            <th>Whatsapp Link</th>
                            <th>Instagram Link</th>
                            <th>Telegram Link</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int sr = 1;
                        }
                        @foreach (var data in Model)
                        {
                            <tr>
                                <td>@sr</td>
                                <td>@data.webappstatus</td>
                                <td>@data.undermaintenancemsg</td>
                                <td>@data.terms</td>
                                <td>@data.gamerules</td>
                                <td>@data.whatsapplink</td>
                                <td>@data.instalink</td>
                                <td>@data.telegramlink</td>
                                <td>
                                    <a class="btn btn-light rounded-circle text-danger" asp-action="DeleteAppSetting" asp-route-id="@data.id"><span class="menu-icon fas fa-trash"></span></a>
                                    <a class="btn btn-light rounded-circle text-warning" asp-action="EditAppSetting" asp-route-id="@data.id"><span class="menu-icon fas fa-edit"></span></a>
                                </td>
                            </tr>
                            sr++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
