@model IEnumerable<LudoKing.Models.registration>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_AdminLayout";
    ViewBag.title = "Dashboard | Users";
}




<div class="container-fluid my-5">
    <h2 class="text-center mb-4">Users</h2>
    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive">
                <table class="table table-striped text-center">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Mobile</th>
                            <th>OTP</th>
                            <th>OTP Status</th>
                            <th>Wallet Balance</th>
                            <th>Date & Time</th>
                            <th>Block Status</th>
                            <th>Photo</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int sr = 1;
                        }
                        @foreach (var data in Model)
                        {
                            <tr>
                                <td>@sr</td>
                                <td>@data.name</td>
                                <td>@data.email</td>
                                <td>@data.mobile</td>
                                <td>@data.otp</td>
                                <td>@data.otpstatus</td>
                                <td>@data.walletbalance</td>
                                <td>@data.datetime</td>
                                <td>@data.blockstatus</td>
                                <td>@data.photo</td>
                                <td>
                                    <a class="btn btn-light rounded-circle text-danger" asp-action="DeleteUser" asp-route-id="@data.id"><span class="menu-icon fas fa-trash"></span></a>
                                    <a class="btn btn-light rounded-circle text-warning" asp-action="EditUser" asp-route-id="@data.id"><span class="menu-icon fas fa-edit"></span></a>
                                </td>
                            </tr>
                            sr++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
